<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Books</title>
</head>
<body>
<div class="container mt-5"><h1 class="text-center mb-5">Books</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Image</td>
            <td>Title</td>
            <td>ISBN</td>
            <td>YearPublished</td>
            <td>Status</td>
            <td>Category</td>
            <td>Authors</td>
            <td>Publisher</td>

        </tr>
        </thead>
        <tbody>        <!-- Your logic to get all actors goes here -->
        <tr th:each="book:${books}">
            <td ><div><img src="@{test\src\main\resources\images\HP.jpg}" /></div></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.ISBN}"></td>
            <td th:text="${book.year_published}"></td>
            <td th:text="${book.status}"></td>
            <td th:each="category:${book.getCategories()}">
                <div th:text="${category.name}"> </div>
            </td>
            <td th:each="author:${book.getAuthors()}">
               <div th:text="${author.firstName + ' ' + author.lastName}"> </div>
            </td>
            <td th:each="publisher:${book.getPublishers()}">
                <div th:text="${publisher.name}"> </div>
            </td>




            <!--     <th> -->
            <!--                <div class="d-flex"><a class="btn btn-warning mr-2"-->
            <!--                                       th:href="@{/books/edit/{bookId}(bookId=${book.id})}">Edit</a>-->
            <!--                    <form class="btn btn-danger" th:action="@{/books/delete/{bookId}(bookId=${book.id})}"-->
            <!--                          method="post"><input type="submit" class="btn btn-danger" name="delete" value="Delete"></form>-->
            <!--                </div>-->
            <!--  </th> -->
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success mt-3 mb-5" href="/actors/create" role="button">Add New Book</a></div>
</body>
</html>